.nutriment_container {
  width: 25%;
  margin-top: 50px;
}
.nutriment {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 124px;
  width: 208px;
  margin-bottom: 39px;

  margin-right: 30px;
  margin-left: 20px;
  border-radius: 5px;
  background-color: #fbfbfb;
  box-shadow: 0px 2px 4px 0px #00000005;

  img {
    padding-right: 15px;
  }

  h2 {
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
    margin-right: 15px;
  }

  h3 {
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
  }
}
