nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    height: 91px;
    padding-left: 30px;
    padding-right: 85px;
    background-color: black;
    
    a{color: #ffffff;
        font-family: roboto;
    font-size:24px;
    font-weight: 500;
    }

}