.tooltips_activity {
  background: #e60000;
  padding: 0 10px;

  span {
    display: block;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    font-family: Roboto;
    text-align: center;
    padding: 10px 0;
  }
}
