.tooltips_average {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 39px;
  background-color: #ffffff;


  span {
    font-family: Roboto;
    font-size: 8px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;

  }
}
